*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: white;
  font-size: 20px;
}

body{
  background-color: black;
}

h1{
  display: none;
}

p{
  padding: 5px;
}

#title,
#game-over{
  margin-top: 70px;
  margin-bottom: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
}

#game-over{
  margin-top: 30px;
}

#game-container{
  /* margin: 50px; */
  margin-inline: auto;
  padding: 50px;  /*do not just change, is used in script.js*/
  background-color: rgb(65, 65, 65);
  max-width: 1050px;
  height: 100vh;

  @media (max-width: 550px) {
      padding: 25px; /*do not just change, is used in script.js*/
  }
}

section{
  margin: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button{
  font-size: 20px;
  background-color: rgb(170, 141, 216);
  padding: 20px 40px;
  border: 0px;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: inset 0px 4px 6px rgba(255, 255, 255, 0.3);
  background-color: rgb(170, 141, 216);
  
  @media (max-width: 999px) {
    font-size: 16px;
    padding: 15px 30px;
  }
}

/* Default button style */
#audio-btns button {
  display: flex;
  margin: 15px;
  padding: 10px;
  border-radius: 50%;
  transition: all 0.3s ease;

  @media (max-width: 999px) {
    padding: 7px;
  }
}

button img {
  border-radius: 50%;
  height: 50px;

  @media (max-width: 999px) {
    height: 35px;
  }
}

/* Hover effect */
button:hover {
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
  background-color: hsl(263, 49%, 75%);
}

/* Style for active button */
/* #audio-btns button.active { */
button.active {
  box-shadow: inset 0px 0px 10px 6px rgba(0, 0, 0, 0.3);
  background-color: hsl(0, 0%, 60%);
}

fieldset {
  border: 1px solid white;
  padding: 20px;
  text-align: center;
}

h2{
  font-size: 25px;
  font-weight: 400;
  padding-inline: 20px;
}

input[type="radio"] {
  visibility: hidden;
  height: 0;
  width: 0;
}

#selections{
  margin-bottom: 50px;
}

#selections button{
  width: 150px;
  margin: 10px;

  @media (max-width: 999px) {
     width: 120px;
    }
}

#size-options{
  display: flex;
  padding: 0 15px 10px 15px;

  @media (max-width: 550px) {
     flex-direction: column;
    }
}

#audio-btns{
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}

#start-screen,
#game-screen{
  margin: 0;
  margin-bottom: 20px;
}

#game-screen,
#end-screen{
  display: none;
}

#game-field{
  margin: 20px;
  position: relative;
}

#statistics{
  /* padding: 20px; */
  text-align: center;
}

#statistics h2{
  padding-bottom: 15px;
}

.field{
  background-color: #f1f1f1;
  /* display: inline-block; */
  border: .1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.isPlayer{
  position: absolute;
  width: 80%;
  height: 80%;
  /* background-color: blue; */
  z-index: 3;
  text-align: center;
}

.isMonster{
  position: absolute;
  width: 80%;
  height: 80%;
  z-index: 2;
}

.isWall{
  background-color: #1f1f1f;
}

.coin{
  position: absolute;
  z-index: 1;
  width: 50%;
  height: 50%;
  background-color: rgb(245, 228, 0);
  border-radius: 50%;
}

#message-level {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 25px;
  width: 80%;
  transform: translate(-50%, -50%);
  min-height: 50px;
  text-align: center;
  background-color:hsl(263, 49%, 25%);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;

  font-size: 25px;

  @media (max-width: 999px) {
    font-size: 22px;
  }
}

#message-level-img{
  width: 50px;
}

#end-screen button{
  margin-top: 50px;
}

