*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#game-screen,
#game-field,
#start-screen{
  position: relative;
  margin: 50px;
}

#start-btn{
  padding: 20px;
}

#game-screen{
  display: none;
}

.field{
  background-color: #f1f1f1;
  /* display: inline-block; */
  border: .1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.isPlayer{
  position: absolute;
  width: 80%;
  height: 80%;
  background-color: blue;
  z-index: 2;
}

.isMonster{
  position: absolute;
  width: 80%;
  height: 80%;
  background-color: red;
  z-index: 2;
}

.isWall{
  background-color: #1f1f1f;
}

.coin{
  position: absolute;
  z-index: 1;
  width: 50%;
  height: 50%;
  background-color: yellow;
}